In [18]:
import pandas as pd
df=pd.read_csv('data/joined_data.csv')

In [19]:
df.head()

,id,title,company_name,location,via,extensions,posted_at,schedule_type,work_from_home,date_time,salary_pay,salary_rate,salary_avg,salary_min,salary_max,salary_hourly,salary_yearly,salary_standardized,description_tokens
0,0,Data Analyst Technical - Consultant,Intermountain Healthcare,"Oklahoma City, OK",via Monster,"['19 hours ago', 'Full-time', 'Health insurance']",19 hours ago,Full-time,NaN,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['vba', 'spreadsheet', 'javascript', 'word', '..."
1,1,"Sr Analyst, Data Engineer",Estee Lauder Companies,Oklahoma,via ZipRecruiter,"['12 hours ago', 'Full-time']",12 hours ago,Full-time,NaN,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
2,2,Legal Data Analyst,DISYS,United States,via Indeed,"['4 hours ago', '21 to 23 an hour', 'Contractor']",4 hours ago,Contractor,NaN,00:10.1,21 to 23,an hour,22.0,21.0,23.0,22.0,NaN,45760.0,[]
3,3,Data analyst,Modis,United States,via BeBee,"['13 hours ago', 'No degree mentioned']",13 hours ago,NaN,NaN,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
4,4,Data Analyst (Risk Adjustment Consulting Resea...,Cambia Health Solutions,United States,via LinkedIn,"['23 hours ago', 'Full-time', 'Health insuranc...",23 hours ago,Full-time,NaN,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['sas', 'matlab', 'sql', 'spss', 'r']"

In [20]:
df.columns

Index(['id', 'title', 'company_name', 'location', 'via', 'extensions',
       'posted_at', 'schedule_type', 'work_from_home', 'date_time',
       'salary_pay', 'salary_rate', 'salary_avg', 'salary_min', 'salary_max',
       'salary_hourly', 'salary_yearly', 'salary_standardized',
       'description_tokens'],
      dtype='object')

In [21]:
df.isnull().sum()

id                         0
title                      0
company_name               0
location                  11
via                        0
extensions                 0
posted_at                  0
schedule_type             40
work_from_home          5999
date_time                  0
salary_pay              8977
salary_rate             8977
salary_avg              8977
salary_min              9109
salary_max              9109
salary_hourly          10023
salary_yearly          10165
salary_standardized     8977
description_tokens         0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11206 entries, 0 to 11205
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   11206 non-null  int64
 1   title                11206 non-null  object
 2   company_name         11206 non-null  object
 3   location             11195 non-null  object
 4   via                  11206 non-null  object
 5   extensions           11206 non-null  object
 6   posted_at            11206 non-null  object
 7   schedule_type        11166 non-null  object
 8   work_from_home       5207 non-null   object
 9   date_time            11206 non-null  object
 10  salary_pay           2229 non-null   object
 11  salary_rate          2229 non-null   object
 12  salary_avg           2229 non-null   float64
 13  salary_min           2097 non-null   float64
 14  salary_max           2097 non-null   float64
 15  salary_hourly        1183 non-null   float64
 16  salary_yearly        1041 non-null   float64
 17  salary_standardized  2229 non-null   float64
 18  description_tokens   11206 non-null  object
dtypes: float64(6), int64(1), object(12)
memory usage: 1.6+ MB

In [23]:
df.shape

(11206, 19)

In [24]:

df['work_from_home'].fillna(value='False',inplace=True)

In [25]:
df['work_from_home'].value_counts()

False    5999
True     5207
Name: work_from_home, dtype: int64

In [26]:
df['description_tokens'].value_counts()

[]                                                                                          2200
['excel']                                                                                    436
['sql']                                                                                      399
['jira', 'tableau', 'microstrategy', 'sql']                                                  204
['excel', 'sql']                                                                             186
                                                                                            ...
['gcp', 'looker', 'sql', 'snowflake']                                                          1
['tableau', 'bigquery', 'sql', 'mssql', 'python']                                              1
['tableau', 'outlook', 'sas', 'sql', 'r', 'python']                                            1
['excel', 'sas', 'cognos', 'visual_basic', 'spss']                                             1
['tableau', 'sharepoint', 'sas', 'snowflake', 'azure', 'sql', 'power_bi', 'r', 'python']       1
Name: description_tokens, Length: 2721, dtype: int64

In [27]:
from ast import literal_eval
df["new_tokens"] = df["description_tokens"].apply(literal_eval)

In [28]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [29]:
encoding = mlb.fit_transform(df["new_tokens"].tolist())

In [30]:
encoding_df = pd.DataFrame(encoding, columns=mlb.classes_, index=df.index)

In [31]:
eda_df=df.join(encoding_df)

In [32]:
eda_df.to_csv("data/eda_data.csv",index=False)

In [33]:
#new dataframe?
eda_df.dropna(subset='salary_standardized',inplace=True)

In [34]:
eda_df.shape

(2229, 137)

In [35]:
eda_df.to_csv("data/predict_data.csv",index=False)